# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
downloads/
lib/
lib64/
MANIFEST

# PyInstaller
*.manifest
*.spec

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytype static type analyzer
.pytype/

!bin/
!doc/

